@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600&display=swap');

:root{
  --new-blue-dark: #17162E;
  --new-blue: #1D1C3B;
  --new-white: #ffffff;
  --new-gray: #8A8A8A;
}